<div ng-app="skyFields" ng-controller="jobsController" class="page-wrapper">

    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Jobs</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="<%- urls.admin.dashboard %>">Dashboard</a></li>
                        <li class="breadcrumb-item active">Jobs</li>
                    </ul>
                </div>
                <div class="col-auto float-end ms-auto">
                    <a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#create_job"><i
                                class="fa fa-plus"></i> Create Job</a>
                </div>
            </div>
        </div>


        <!-- <div class="row filter-row">
          <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
              <input type="text" class="form-control floating">
              <label class="focus-label">Job Name</label>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
              <input type="text" class="form-control floating">
              <label class="focus-label">Team Name</label>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus select-focus">
              <select class="select floating">
                <option>Select Roll</option>
                <option>Web Developer</option>
                <option>Web Designer</option>
                <option>Android Developer</option>
                <option>Ios Developer</option>
              </select>
              <label class="focus-label">Role</label>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <a href="#" class="btn btn-success w-100"> Search </a>
          </div>
        </div> -->

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <label>Show <select ng-model="page.numberPerPage"
                                                ng-change="search()"
                                                class="custom-select custom-select-sm
                                            form-control form-control-sm select-entry">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> entries
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                    <table class="table table-striped custom-table dataTable">
                        <thead>
                        <tr>
                            <th>Customer</th>
                            <th>Project</th>
                            <th>Job</th>
                            <th>Status</th>
                            <th>Scope of Work</th>
                            <th>Team</th>
                            <th>Structure</th>
                            <th>Forecast Start</th>
                            <th>Forecast End</th>
                            <th>Priority</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in page.items">
                            <td><a href="<%- urls.admin.customer %>/1">Customer</a></td>
                            <td><a href="<%- urls.admin.project %>/{{item.data.project_id }}">Project [Project name]</a>
                            </td>
                            <td><a href="<%- urls.admin.job %>/{{item.id}}">{{item.data.name}}</a></td>
                            <td>{{item.data.status}}</td>
                            <td>{{item.data.scope_of_work}}</td>
                            <td>
                                <a href="<%- urls.admin.team %>/{{item.data.team_id}}">[Team name]</a>
                            </td>
                            <td>{{item.data.type}}</td>
                            <td>{{item.data.start_date}}</td>
                            <td>{{item.data.end_date}}</td>
                            <td>
                                {{item.data.priority}}
                            </td>
                            <td class="text-end">
                                <div class="dropdown dropdown-action">
                                    <i class="material-icons show_tasks" id="{{item.id}}" ng-click="showTask()">list</i>
                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                       aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                           data-bs-target="#edit_job"><i
                                                    class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                           data-bs-target="#delete_job"><i
                                                    class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                                Showing {{pageShowing.from}} to
                                {{pageShowing.to}} of {{page.rowCount}} entries
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                <ul class="pagination" style="justify-content: flex-end;">
                                    <li ng-if="page.pageNumber>1" class="paginate_button page-item previous" id="job_table_previous">
                                        <a ng-click="loadPage(page.pageNumber-1)" href="#"
                                           aria-controls="job_table" data-dt-idx="0" tabindex="0"
                                           class="page-link">Previous</a>
                                    </li>
                                    <li ng-if="page.pageNumber<=1" class="paginate_button page-item previous disabled" id="job_table_previous">
                                        <a ng-click="loadPage(page.pageNumber-1)" href="#"
                                           aria-controls="job_table" data-dt-idx="0" tabindex="0"
                                           class="page-link">Previous</a>
                                    </li>
                                    <li ng-repeat="item in page.pageList"  class="paginate_button page-item ">
                                        <a ng-click="loadPage(item)" ng-if="item==page.pageNumber" href="#" aria-controls="job_table" data-dt-idx="1" tabindex="0"
                                           class="page-item active">
                                            <span class="page-link" aria-hidden="true" ng-click="loadPage(item)">{{item}}</span>
                                        </a>
                                        <a ng-click="loadPage(item)" ng-if="item!=page.pageNumber" href="#" aria-controls="job_table" data-dt-idx="1" tabindex="0"
                                           class="page-item">
                                            <span class="page-link" aria-hidden="true" ng-click="loadPage(item)">{{item}}</span>
                                        </a>
                                    </li>
                                    <li ng-if="page.pageNumber<page.pageCount" class="paginate_button page-item next" id="job_table_next">
                                        <a ng-click="loadPage(page.pageNumber+1)" href="#"
                                           aria-controls="job_table" data-dt-idx="3" tabindex="0"
                                           class="page-link">Next</a>
                                    </li>
                                    <li ng-if="page.pageNumber>=page.pageCount" class="paginate_button page-item disabled" id="job_table_next">
                                        <a ng-click="loadPage(page.pageNumber+1)" href="#"
                                           aria-controls="job_table" data-dt-idx="3" tabindex="0"
                                           class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div id="create_job" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Job</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Job Name</label>
                                    <input class="form-control" type="text" name="create_jobName">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Client</label>
                                    <select class="select" name="create_client">
                                        <option>Global Technologies</option>
                                        <option>Delta Infotech</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <div class="cal-icon">
                                        <input class="form-control datetimepicker" type="text" name="create_startDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>End Date</label>
                                    <div class="cal-icon">
                                        <input class="form-control datetimepicker" type="text" name="create_endDate">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!--<div class="col-sm-3">
                              <div class="form-group">
                                <label>Rate</label>
                                <input placeholder="$50" class="form-control" type="text" name="create_rate">
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group">
                                <label>&nbsp;</label>
                                <select class="select" name="create_rateType">
                                  <option>Hourly</option>
                                  <option>Fixed</option>
                                </select>
                              </div>
                            </div>-->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Priority</label>
                                    <select class="select" name="create_priority">
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Add Job Leader</label>
                                    <input class="form-control" type="text" name="create_jobLeader">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Team Leader</label>
                                    <div class="project-members">
                                        <a href="#" data-bs-toggle="tooltip" title="Jeffery Lalor" class="avatar">
                                            <img src="/assets/images/profiles/avatar-16.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Add Team</label>
                                    <input class="form-control" type="text" name="create_team">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Team Members</label>
                                    <div class="project-members">
                                        <a href="#" data-bs-toggle="tooltip" title="John Doe" class="avatar">
                                            <img src="/assets/images/profiles/avatar-16.jpg" alt="">
                                        </a>
                                        <a href="#" data-bs-toggle="tooltip" title="Richard Miles" class="avatar">
                                            <img src="/assets/images/profiles/avatar-09.jpg" alt="">
                                        </a>
                                        <a href="#" data-bs-toggle="tooltip" title="John Smith" class="avatar">
                                            <img src="/assets/images/profiles/avatar-10.jpg" alt="">
                                        </a>
                                        <a href="#" data-bs-toggle="tooltip" title="Mike Litorus" class="avatar">
                                            <img src="/assets/images/profiles/avatar-05.jpg" alt="">
                                        </a>
                                        <span class="all-team">+2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <div id="editor"></div>
                        </div>
                        <div class="form-group">
                            <label>Upload Files</label>
                            <input class="form-control" type="file">
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary" onclick="actionCreateJob()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="edit_job" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Job</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Job Name</label>
                                    <input class="form-control" value="Job Management" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Customer</label>
                                    <select class="select">
                                        <option>Global Technologies</option>
                                        <option>Delta Infotech</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <div class="cal-icon">
                                        <input class="form-control datetimepicker" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>End Date</label>
                                    <div class="cal-icon">
                                        <input class="form-control datetimepicker" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Rate</label>
                                    <input placeholder="$50" class="form-control" value="$5000" type="text">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <select class="select">
                                        <option>Hourly</option>
                                        <option selected>Fixed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Priority</label>
                                    <select class="select">
                                        <option selected>High</option>
                                        <option>Medium</option>
                                        <option>Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Add Job Leader</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Team Leader</label>
                                    <div class="project-members">
                                        <a href="#" data-bs-toggle="tooltip" title="Jeffery Lalor" class="avatar">
                                            <img src="/assets/images/profiles/avatar-16.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Add Team</label>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Team Members</label>
                                    <div class="project-members">
                                        <a href="#" data-bs-toggle="tooltip" title="John Doe" class="avatar">
                                            <img src="/assets/images/profiles/avatar-16.jpg" alt="">
                                        </a>
                                        <a href="#" data-bs-toggle="tooltip" title="Richard Miles" class="avatar">
                                            <img src="/assets/images/profiles/avatar-09.jpg" alt="">
                                        </a>
                                        <a href="#" data-bs-toggle="tooltip" title="John Smith" class="avatar">
                                            <img src="/assets/images/profiles/avatar-10.jpg" alt="">
                                        </a>
                                        <a href="#" data-bs-toggle="tooltip" title="Mike Litorus" class="avatar">
                                            <img src="/assets/images/profiles/avatar-05.jpg" alt="">
                                        </a>
                                        <span class="all-team">+2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea rows="4" class="form-control" placeholder="Enter your message here"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Upload Files</label>
                            <input class="form-control" type="file">
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary
              submit-btn">Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal custom-modal fade" id="delete_job" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Job</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-bs-dismiss="modal"
                                   class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  <script type="text/javascript" src="/javascripts/materialize.js"></script>-->
    <!--  <script type="text/javascript" src="/views/pages/admin/jobs/jobs.js"></script>-->
</div>

<script>
    const task_url = "<%- urls.admin.task %>";
</script>

<link rel="stylesheet" href="/css/fixedColumns.dataTables.min.css">

<script src="/js/moment.min.js"></script>
<script src="/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap4.min.js"></script>
<script src="/js/dataTables.buttons.min.js"></script>
<script src="/js/jszip.min.js"></script>
<script src="/js/vfs_fonts.js"></script>
<script src="/js/buttons.html5.min.js"></script>
<script src="/js/dataTables.fixedColumns.min.js"></script>
<script src="/js/ckeditor.js"></script>
<script src="/views/pages/admin/jobs/jobs.js"></script>

<script>
    const url = "<%- urls.admin.jobs %>";
    $(document).ready(function () {
      getFF("<%- urls.admin.jobs %>");
      getSS("<%- urls.admin.jobs %>");
    });
    if ($('.datatable').length > 0) {
        $('.datatable').DataTable({
            "bFilter": false,
        });
    }

    /*function ShowTask() {
        $(".show_tasks").removeClass("on");
        $(".show_tasks").unbind("click");
        $(".show_tasks").click(function () {
            if(!$(this).hasClass("on")) {
                $(this).addClass("on");
                const index = $(this).closest("tr").index();

                var html = `<div class="project_progress">
                      <div>
                        <div class="title"><span>Job Milestones</span></div>
                        <content>
                          <div class="milestones">
                            <div class="item precon">
                              <div><i class="fa fa-check-circle"></i> <name>MS01</name> <date>Thu, 01/01/2022</date></div>
                              <div>Precon Scoping</div>
                            </div>
                            <div class="item bom">
                              <div><i class="fa fa-spinner"></i> <name>MS02</name> <date>Fri, 01/02/2022</date></div>
                              <div>BOM Pick up</div>
                            </div>
                            <div class="item start">
                              <div><i class="fa fa-check-circle"></i> <name>MS03</name> <date>Sat, 01/03/2022</date></div>
                              <div>Construction Start</div>
                            </div>
                          </div>
                          <div class="milestones_progress">
                            <p class="m-b-5">Progress <span class="text-success float-end">40%</span></p>
                            <div class="progress progress-xs mb-0">
                              <div class="progress-bar bg-success" role="progressbar" data-bs-toggle="tooltip" title="40%"
                                style="width: 40%"></div>
                            </div>
                          </div>
                        </content>
                      </div>
                      <div>
                        <div class="title"><span>Daily Reports</span></div>
                        <content>
                          <div class="reports">
                            <div class="item">
                              <div><i class="fa fa-file"></i> <a href="#">Date 01/01</a></div>
                              <div>6x octo antennas installed, 3x AHLOA RRU removed, 2x partial complete cabinet, and alpha sector frames is installed</div>
                            </div>
                            <div class="item">
                              <div><i class="fa fa-file"></i> <a href="#">Date 01/02</a></div>
                              <div>Off duty due to rainstorm</div>
                            </div>
                            <div class="item">
                              <div><i class="fa fa-file"></i> <a href="#">Date 01/03</a></div>
                              <div>Off duty due to missing materials</div>
                            </div>
                          </div>
                        </content>
                      </div>
                      <div>
                        <div class="title"><span>Job Issues</span></div>
                        <content>
                          <div class="issues">
                            <div class="item">
                              <div><name>Missing equipment</name> <div class="text-success">Resolved</div></div>
                              <div>Reported by: <span>John</span></div>
                            </div>
                            <div class="item">
                              <div><name>Antenna broken</name> <div class="text-success">Resolved</div></div>
                              <div>Reported by: <span>John</span></div>
                            </div>
                            <div class="item">
                              <div><name>Station water leak</name> <div class="text-danger">Reported</div></div>
                              <div>Reported by: <span>John</span></div>
                            </div>
                          </div>
                        </content>
                      </div>
                    </div>`;
                $(this).closest("tr").after(`<tr class="view_tasks"><td colspan="11">${html}</td></tr>`);
            }
            else {
                $(this).removeClass("on");
                $(this).closest("tr").next().remove();
            }
        });
    }
    ShowTask();*/

</script>